<div class="toolbar">
	<h1 id="pageTitle">
		New PicTimeLine
	</h1>
</div>

<form title="New PicTimeLine" 
	  class="panel"
	  id="pictimeline_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>" selected="true">
	<fieldset>
  	  <div class="row">
  		  <label>id: </label>
    		<input type="text" name="id" value="<%=@pictimeline.object%>"/>
  	  </div>
		
		  <div class="row">
			  <label>Text: </label>
			  <input type="text" name="pictimeline[text]"/>
		  </div>

		  <div class="row">
		    <label>Pic: </label>
		    <% unless @params['image_local_path'] %>
      	  <%= link_to '[Choose Picture]', { :action => :edit }%>
      	<% else %>        
       	  <img src="<%= @params['image_local_path']%>" width='100px'></img>
          <input  type="text" value="<%= Rho::RhoSupport.url_encode(@params['image_local_path'])%>" name="pictimeline[image_uri]">
        <% end %>		    
        </p>
		  </div>
	</fieldset>

	<input type="submit" value="Create"/>
</form>