<form title="Edit TimeLine" 
	  class="panel" 
	  id="TimeLine_edit_form" 
	  method="POST" 
	  action="<%=url_for('update')%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@TimeLine.object%>"/>
		
		  <div class="row">
			  <label>text: </label>
			  <input type="text" name="TimeLine[text]" value="<%=@TimeLine.text%>"/>
		  </div>
		
		  <div class="row">
			  <label>user_screen_name: </label>
			  <input type="text" name="TimeLine[user_screen_name]" value="<%=@TimeLine.user_screen_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>user_name: </label>
			  <input type="text" name="TimeLine[user_name]" value="<%=@TimeLine.user_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>user_profile_image_url: </label>
			  <input type="text" name="TimeLine[user_profile_image_url]" value="<%=@TimeLine.user_profile_image_url%>"/>
		  </div>
		
		  <div class="row">
			  <label>source: </label>
			  <input type="text" name="TimeLine[source]" value="<%=@TimeLine.source%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for('delete', @TimeLine.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>