1
<ul id="GeoTimeLines" title="GeoTimeLines" selected="true">
2
<%@GeoTimeLines.each do |x|%>
3
<li class ="row">
  <div class ="photo">
    <img src=<%= x.user_profile_image_url %> alt=<%= x.user_screen_name %> />
  </div>
  <div class ="status">
    <div class ="text">
     <%= x.text %>
    </div>
    <div class ="user">
     <%= x.user_name %> <%= x.created_at %> via <%= x.source %>
    </div>
  </div>
</li>
<%end%>
4
</ul>
5