<form title="Edit PublicTimeLine" 
	  class="panel" 
	  id="PublicTimeLine_edit_form" 
	  method="POST" 
	  action="<%=url_for('update')%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@PublicTimeLine.object%>"/>
		
		  <div class="row">
			  <label>text: </label>
			  <input type="text" name="PublicTimeLine[text]" value="<%=@PublicTimeLine.text%>"/>
		  </div>
		
		  <div class="row">
			  <label>user_screen_name: </label>
			  <input type="text" name="PublicTimeLine[user_screen_name]" value="<%=@PublicTimeLine.user_screen_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>user_name: </label>
			  <input type="text" name="PublicTimeLine[user_name]" value="<%=@PublicTimeLine.user_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>user_profile_image_url: </label>
			  <input type="text" name="PublicTimeLine[user_profile_image_url]" value="<%=@PublicTimeLine.user_profile_image_url%>"/>
		  </div>
		
		  <div class="row">
			  <label>source: </label>
			  <input type="text" name="PublicTimeLine[source]" value="<%=@PublicTimeLine.source%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for('delete', @PublicTimeLine.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>