<form title="Edit MyTimeLine" 
	  class="panel" 
	  id="MyTimeLine_edit_form" 
	  method="POST" 
	  action="<%=url_for(:action => :update)%>">
	<fieldset>
		<input type="hidden" name="id" value="<%=@MyTimeLine.object%>"/>
		
		  <div class="row">
			  <label>Text: </label>
			  <input type="text" name="MyTimeLine[text]" value="<%=@MyTimeLine.text%>"/>
		  </div>
		
		  <div class="row">
			  <label>User screen name: </label>
			  <input type="text" name="MyTimeLine[user_screen_name]" value="<%=@MyTimeLine.user_screen_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>User name: </label>
			  <input type="text" name="MyTimeLine[user_name]" value="<%=@MyTimeLine.user_name%>"/>
		  </div>
		
		  <div class="row">
			  <label>User profile image url: </label>
			  <input type="text" name="MyTimeLine[user_profile_image_url]" value="<%=@MyTimeLine.user_profile_image_url%>"/>
		  </div>
		
		  <div class="row">
			  <label>Source: </label>
			  <input type="text" name="MyTimeLine[source]" value="<%=@MyTimeLine.source%>"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Update"/>
	<p align="center">
		<a href="<%=url_for(:action => :delete, :id => @MyTimeLine.object)%>">
			<font color="#990000">Delete</font>
		</a>
	</p>
</form>